/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

html {
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

body {
  font-family: "Aldrich", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 125%;
}

.gittip {
  font-size: 15px;
}
