---
layout: default
title: harlan kellaway | projects
---

<p>Most of my current work is  mobile development for iOS. What I work toward personally is using my background in tech and gender studies to promote social justice for the gender non-conforming community.</p>

<h2>Projects</h2>

<ul>
  {% for project in site.data.projects %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}</em>)
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endfor %}
</ul>

<br />

<p>You can <a href="/documents/kellaway-resume.pdf">download my resume</a> if you'd like.

<p>And you can reach me at <a href="mailto:hello@harlankellaway.com?subject=hello from your website!">hello [at] harlankellaway [dot] com</a>.</p>
