---
layout: default
title: harlan kellaway | projects
---

<p>I'm an iOS engineer and I currently work  at <a href="http://prolificinteractive.com/" target="_blank">Prolific Interactive</a> in NYC. What I work toward personally is using my background in tech and gender studies to promote social justice for the gender non-conforming community.</p>

<p>You can check out <a href="/documents/kellaway-resume.pdf">my resume</a> and contact me at <a href="mailto:hello@harlankellaway.com?subject=hello from your website!">hello [at] harlankellaway [dot] com</a>.</p>

<h2>Projects</h2>

<a name="apps">

<h3><em>Apps</em></h3>

<ul>
  {% for project in site.data.projects %}
    {% if project.type == "ios-app"  %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}
</em>) {% if project.is_in_press %} <span class="press"><a href="{{ project.link }}#press">Press</a></span>  {% endif %}
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endif  %}
  {% endfor %}
</ul>

<br><br>

<a name="blog-highlights">
<h3><em>Blog Highlights</em></h3>

<ul>
  <li><span class="project"><a href="/blog/2019/06/07/swiftui-will-change-more-than-how-we-code">SwiftUI Will Change More Than How We Code</a></span></li>
  <li><span class="project"><a href="/blog/2017/09/07/should-code-always-be-dry-meetup-talk">Talk - "Should Code Always Be DRY?"</a></span></li>
  <li><span class="project"><a href="/blog/2017/09/06/writing-imperfect-code">Writing Imperfect Code</a></span></li>
  <li><span class="project"><a href="/blog/2016/06/24/solid-principles-in-swift-video">Talk - "SOLID Principles in Swift"</a></span></li>
  <li><span class="project"><a href="/blog/2016/06/10/themes-in-modern-ios-architectures">Themes in Modern iOS Architectures</a></span></li>
  <li><span class="project"><a href="/blog/2015/08/10/swift-functional-programming-intro">A Practical Introduction to Functional Programming - Now with Swift!</a></span></li>
</ul>

<br /><br />
