---
layout: default
title: harlan kellaway | projects
---

<p>I'm an iOS engineer and I currently work  at <a href="http://prolificinteractive.com/" target="_blank">Prolific Interactive</a> in NYC. What I work toward personally is using my background in tech and gender studies to promote social justice for the gender non-conforming community.</p>

<p>You can check out <a href="/documents/kellaway-resume.pdf">my resume</a> and contact me at <a href="mailto:hello@harlankellaway.com?subject=hello from your website!">hello [at] harlankellaway [dot] com</a>.</p>

<h2>Projects</h2>

<a name="apps">

<h3><em>Apps</em></h3>

<ul>
  {% for project in site.data.projects %}
    {% if project.type == "ios-app"  %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}
</em>) {% if project.is_in_press %} <span class="press"><a href="{{ project.link }}#press">Press</a></span>  {% endif %}
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endif  %}
  {% endfor %}
</ul>

<a name="swift">
<h3><em>Swift</em> <span class="icon swift"></span></h3>

<ul>
  {% for project in site.data.projects %}
    {% if project.is_swift and project.show_under_swift  %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}</em>) {% if project.is_in_press %} <span class="press"><a href="{{ project.link }}#press">Press</a></span>  {% endif %}
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endif  %}
  {% endfor %}
</ul>

<a name="open-source">
<h3><em>Open Source</em></h3>

<ul>
  {% for project in site.data.projects %}
    {% if project.type == "cocoapod"  %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}</em>) {% if project.is_in_press %} <span class="press"><a href="{{ project.link }}#press">Press</a></span>  {% endif %}
      {% if project.stars_link %}
      <a href="project.link" target="_blank"><img src="{{ project.stars_link }}</img></a>
      {% endif %}
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endif  %}
  {% endfor %}
</ul>

<br /><br />

{% include mixpanel-badge.html %}
