<ul class="nav">
    <div class="nav-inner">
        <li><a href="/blog"><span class="icon code"></span>blog</a></li>
        <li><a href="/swift"><span class="icon swift"></span>swift</a></li>
        <li><a href="http://github.com/{{ site.handle_github }}" target="_blank"><span class="icon github"></span>github</a></li>
        <li><a href="http://twitter.com/{{ site.handle_twitter }}" target="_blank"><span class="icon twitter"></span>twitter</a></li>
        <li><a href="{{ site.url_email_subscription }}" target="_blank"><span class="icon info"></span>subscribe</a></li>
    </div>
</ul>
