---
layout: default
title: harlan kellaway | swift
---

<p>Like many developers who specialize in iOS, I am diving head-first into the world of Swift. Here are projects I've done to practice and help others learn:</p>

<ul>
  {% for project in site.data.projects %}
    {% if project.is_swift  and project.show_under_swift %}
    <li>
      <a href="{{ project.link }}" target="_blank"><span class="project">{{ project.name }}</span></a> - {{ project.description }} (<em>Released {{ project.date_released }}
</em>) {% if project.is_in_press %} <span class="press"><a href="{{ project.link }}#press">Press</a></span>  {% endif %}
      {% if project.is_on_app_store %}
        <br />
        {% include app-store-badge-{{ project.id }}.html  %}
      {% endif %}
   </li>
  {% endif  %}
  <br />
  {% endfor %}
</ul>
