<div class="socialmedia">

  <div class = "container">

  {{ site.my_label_post_share }}

      {% for service in site.data.postshare %}

        {% if service.is_displayed %}

          {% assign serviceDowncase = service.name | downcase %}

            <div class="btn btn-default">

            <a href="{{ serivce.url_base }}" target="_blank">
              <i class="icon icon-{{ serviceDowncase }}"></i>
              <span>{{ service.name }}</span>
            </a>

            </div>

          {% endif %}

        {% endfor %}

  </div>
</div>
