---
id: refuge-restrooms
layout: default
title: harlan kellaway | Refuge Restrooms - iOS App
---

<h2>Refuge Restrooms - iOS App</h2>

{% include app-store-badge-refuge-restrooms.html %}

<p><em>REFUGE</em> maps safe restrooms for transgender, intersex, and gender nonconforming individuals.</p>

<p>Features:
<ul>
<li>Tap a map pin to see more information about a restroom, including whether the restroom is unisex and/or accessible.</li>
<li>Use the search bar to zoom to a specific address and view restrooms nearby - great for everyday use or travel.</li>
<li>Don't see a location in your area? Tap the '+' button on the navigation to add a new listing to <a href="http://refugerestrooms.org/" target="_blank">refugerestrooms.org</a>.</li>
</ul>
</p>

<p>Access to safe restrooms is an important transgender rights issue - REFUGE seeks to aid this mission. Visit <a href="http://refugerestrooms.org" target="_blank">refugerestrooms.org</a> for more information.</p>

<a name="support">

<p>Having issues? Contact REFUGE at <a href="http://refugerestrooms.org/contact" target="_blank">refugerestrooms.com/contact</a>  or <a href="https://github.com/RefugeRestrooms/refugerestrooms/issues/new" target="_blank">submit an issue</a> on GitHub</p>

<a name="press">

<h3><span class="press">Press</span></h3>

<ul>
  {% for press in site.data.press %}
    <li>
      {% if press.id == page.id %}
      <a href="{{ press.link }}" target="_blank">{{ press.title }}</a> (<em>{{ press.date }}</em>)
      {% endif %}
   </li>
  {% endfor %}
</ul>

<p>

<a href="/img/apps/refuge-restrooms1.png"><img src="/img/apps/refuge-restrooms1.png" height=500 /></a>
<a href="/img/apps/refuge-restrooms2.png"><img src="/img/apps/refuge-restrooms2.png" height=500 /></a>
<a href="/img/apps/refuge-restrooms3.png"><img src="/img/apps/refuge-restrooms3.png" height=500 /></a>
<a href="/img/apps/refuge-restrooms4.png"><img src="/img/apps/refuge-restrooms4.png" height=500 /></a>
<a href="/img/apps/refuge-restrooms5.png"><img src="/img/apps/refuge-restrooms5.png" height=500 /></a>

</p>
