a<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>harlan kellaway | {{ page.title }}</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-img/logo-precomposed" href="/img/logo.jpg">
    <link rel="apple-touch-img/logo" href="/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="72x72" href="/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="114x114" href="/img/logo.jpg">

    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/pygments.css" rel="stylesheet" type="text/css">
    <link href="/favicon.ico" rel="shortcut icon">

     <!-- Shareaholic Setup -->
    {% include shareaholic_setup.html %}

</head>
<body>
  <div class="sidebar">
    <a href="/" class="logo">
        <div class="img-circular"></div>
    </a>

    {% include navigation.html %}

  </div>
  <div class="wrapper">
    <!--<h1><marquee scrolldelay="60">{{ site.title }}</marquee></h1>-->
    <h1>harlan kellaway's blog // {{ page.title }}</h1>

    <div class="post-body">
      {{ content }}

      <p>{% include shareaholic.html %}</p>
      <br><br> 
      <p><span style="font-size:85%;">This blog is licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank">Attribution-Noncommercial-Share Alike 3.0 Unported</a> license.</span></p>
    </div>
  </div>
  
  {% include google_analytics.html %}

</body>
</html>
